<!-- <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username"></label>
        <input type="text" name="username" id="username"
            ngModel
            #username="ngModel"
            class="border border-slate-400 p-2 mt-3 rounded w-6/12" placeholder="username">
    </fieldset>

    <button type="submit" class="bg-pink-400 hover:bg-pink-500 hover:scale-105 p-2 px-4 rounded text-center">Login</button>
</form> -->

<main class="bg-gray-300">

<nav class="bg-gray-400 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <div class="flex items-center">
          <img src="https://cdn-icons-png.flaticon.com/512/218/218153.png?w=1060&t=st=1678699409~exp=1678700009~hmac=7bd31a33b252527797d84fbf7e49e6864153bee6d006790b23958961c81f28b3" class="h-6 mr-3 sm:h-9" alt="HUMANS vs ZOMBIES Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">HUMANS vs ZOMBIES</span>
      </div>
      
      <div class="flex flex-wrap w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex flex-col p-2 mt-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm 
        md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 pl-2 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Rules</a>
          </li>

          
          
          
        
          
        </ul>
      </div>
    </div>
  </nav>

  


<section class="h-screen">
    
    <div class="container px-6 py-24">
      <div
        class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
        <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
          <img
            src="https://st.depositphotos.com/1292351/2335/v/950/depositphotos_23351720-stock-illustration-found-a-survivor-of-the.jpg" 
            class="w-full"
            alt="HUMANS vs ZOMBIES image" />
        </div>
        <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
          <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
            <!-- Email input -->
            <div class="relative mb-6" data-te-input-wrapper-init>
                <label
                for="username"
                class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"
                >
              </label>
              <input
                type="text"
                name="username"
                class="inline-block w-full rounded bg-primary px-7 pt-3 pb-2.5 text-sm font-medium uppercase leading-normal text-orange-600 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                id="username"
                ngModel
                #username="ngModel"
                placeholder="username" />
              
            </div>
  
  
            <!-- Submit button -->
            <button
              type="submit"
              class="inline-block w-full rounded bg-primary px-7 pt-3 pb-2.5 text-sm font-medium uppercase leading-normal text-orange-600 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              data-te-ripple-init
              data-te-ripple-color="light">
              Sign in
            </button>
  
            <div
              class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
              <p
                class="mx-4 mb-0 text-center font-semibold dark:text-neutral-200">
                OR
              </p>
            </div>
  
            <a
              class="mb-3 flex w-full items-center justify-center rounded bg-primary px-7 pt-3 pb-2.5 text-center text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              style="background-color: #3b5998"
              href="#!"
              role="button"
              data-te-ripple-init
              data-te-ripple-color="light">
              <!-- Facebook -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-2 h-3.5 w-3.5"
                fill="currentColor"
                viewBox="0 0 24 24">
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
              </svg>
              Continue with Facebook
            </a>
            
          </form>
        </div>
      </div>
    </div>
  </section>

</main>