<nav class="bg-gray-500 border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
   <div class="container flex flex-wrap items-center justify-between mx-auto">
      <div class="flex items-center">
         <img
            src="https://cdn-icons-png.flaticon.com/512/218/218153.png?w=1060&t=st=1678699409~exp=1678700009~hmac=7bd31a33b252527797d84fbf7e49e6864153bee6d006790b23958961c81f28b3"
            class="h-6 mr-3 sm:h-9" alt="HUMANS vs ZOMBIES Logo" />
         <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">HUMANS vs ZOMBIES</span>
      </div>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
         <ul
            class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
               <button (click)="printToken()">
                  Print Token
               </button>
            </li>
            <li>
               <li>
                  <a href="edit-player">
                     <button
                        class="block py-2 pl-2 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                        type="button">
                        Edit Player
                     </button>
                  </a>
               </li>
            <li>
               <a href="game-list-view">
                  <button
                     class="block py-2 pl-2 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                     type="button">
                     Game List
                  </button>
               </a>
            </li>
            <li *ngIf="isAuthenticated">
               <div id="Modal/dialog div">
                  <button
                     class="block py-2 pl-2 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                     type="button" (click)="toggleCreateGameModal()">
                     Create game
                  </button>

                  <div *ngIf="showCreateGameModal"
                     class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
                     <div class="relative w-auto my-6 mx-auto max-w-6xl">
                        <!--content-->
                        <div
                           class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                           <!--header-->
                           <div
                              class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                              <h3 class="text-3xl font-semibold">Create game</h3>
                           </div>
                           <!--body-->
                           <div class="form-area">
                              <form #gameForm="ngForm" (ngSubmit)="onGameCreate(gameForm.value)">
                                 <div class="w-1/2 md:w-full relative p-6 flex-auto">
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gamename">
                                       Game name
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="name" type="text" placeholder="game name" />
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameStarTtime">
                                       Start time
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="startTime" type="datetime-local" placeholder="start time" />
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameEndTime">
                                       End time
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="endTime" type="datetime-local" placeholder="end time" />
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameEndTime">
                                       nwLat
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="nwLat" type="text" placeholder="nwLat" />
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameEndTime">
                                       nwLng
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="nwLng" type="text" placeholder="nwLng" />
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gameEndTime">
                                       seLat
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="seLat" type="text" placeholder="seLat" />
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="seLng">
                                       seLng
                                    </label>
                                    <input ngModel required
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       name="seLng" type="text" placeholder="seLng" />
                                    <div>
                                       <span *ngIf="!acceptedTime"
                                          class="block text-red-600 text-sm font-bold mb-2">Invalid date</span>
                                    </div>
                                 </div>
                                 <!--footer-->
                                 <div
                                    class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                                    <button
                                       class="text-white bg-gradient-to-r from-green-400 via-blue-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                                       type="submit" [disabled]="gameForm.invalid">
                                       Create
                                    </button>
                                    <button
                                       class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                       type="button" (click)="toggleCreateGameModal()">
                                       Close
                                    </button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div *ngIf="showCreateGameModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
               </div>
            </li>
            <li>
               <div id="rules">
                  <button
                     class="block py-2 pl-2 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                     type="button" (click)="toggleModal()">
                     Rules
                  </button>
                  <div *ngIf="showModal"
                     class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
                     <div class="relative w-auto my-6 mx-auto max-w-6xl">
                        <!--content-->
                        <div
                           class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                           <!--header-->
                           <div
                              class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                              <h3 class="text-3xl font-semibold">Rules</h3>
                           </div>
                           <!--body-->
                           <div class="relative p-6 flex-auto">
                              <ul style="list-style-type: disc" class="my-4 text-slate-500 text-lg leading-relaxed p-4">
                                 <li>
                                    The game begins with one or more “Original Zombies” (OZ)
                                    or patient zero. The purpose of the OZ is to infect
                                    human players by tagging them. Once tagged, a human
                                    becomes a zombie for the remainder of the game.
                                 </li>
                                 <li>
                                    Human players are able to defend themselves against the
                                    zombie horde using Nerf weapons and clean, rolled-up
                                    socks which may be thrown to stun an unsuspecting
                                    zombie.
                                 </li>
                                 <li>
                                    Many variants of the game rules exist which introduce
                                    additional rules and activities into the game; for
                                    example, the Rhodes University variant introduces a
                                    web-based game map where markers appear showing the
                                    location of missions and supplies. The appearance of
                                    supplies forces humans to leave their safe zones and
                                    risk being turned.
                                 </li>
                                 <li class="font-bold">
                                    This will be edited later to fit our rules
                                 </li>
                              </ul>
                           </div>
                           <!--footer-->
                           <div
                              class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                              <button
                                 class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                 type="button" (click)="toggleModal()">
                                 Close
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
               </div>
            </li>
            <li>
               <app-login-component></app-login-component>
            </li>
         </ul>
      </div>
   </div>
</nav>