<nav class="bg-[#50409A] border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900 font-quicksand sticky top-0 z-50">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div class="flex items-center">
      <img
        src="https://cdn-icons-png.flaticon.com/512/218/218153.png?w=1060&t=st=1678699409~exp=1678700009~hmac=7bd31a33b252527797d84fbf7e49e6864153bee6d006790b23958961c81f28b3"
        class="h-6 mr-3 sm:h-9"
        alt="HUMANS vs ZOMBIES Logo"
        />
      <span
        class="self-center text-2xl text-white font-bold whitespace-nowrap
        dark:text-white">HUMANS vs ZOMBIES</span>
    </div>
    <div
      id="adminControls"
      class="w-full md:block md:w-auto group"
      id="navbar-default">
      <ul
        *ngIf="role == 'hvz-admin'"
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg
        bg-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium
        md:border-0 md:bg-[#313866] dark:bg-gray-1200 md:dark:bg-gray-900
        dark:border-gray-700">
        <li class="self-center text-base text-white font-bold whitespace-nowrap
          dark:text-white">Admin Controls :</li>
        <li>
          <button class="md:hover:text-blue-700 self-center text-base text-white
            font-bold whitespace-nowrap
            dark:text-white" type="button">
            <app-add-mission></app-add-mission>

          </button>

        </li>
        <li>
          <a href="edit-player">
            <button class="md:hover:text-[#ff7bbf] self-center text-base
              text-white font-bold whitespace-nowrap
              dark:text-white" type="button">
              Edit Player
            </button>
          </a>
        </li>
        <li id="createGame">
          <button class="md:hover:text-[#ff7bbf] self-center text-base text-white
            font-bold whitespace-nowrap
            dark:text-white" type="button">
            <app-create-game></app-create-game>
          </button>

        </li>
      </ul>
    </div>
    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg
        bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium
        md:border-0 md:bg-[#313866] dark:bg-gray-800 md:dark:bg-gray-900
        dark:border-gray-700">
        <li>
          <a href="game-list-view">
            <button class="md:hover:text-[#ff7bbf] self-center text-base
              text-white
              font-bold whitespace-nowrap
              dark:text-white" type="button">
              Games
            </button>
          </a>
        </li>
        <li id="rules">
          <button class="md:hover:text-[#ff7bbf] self-center text-base text-white
            font-bold whitespace-nowrap
            dark:text-white"
            type="button"
            (click)="toggleRulesModal()">
            Rules
          </button>
          <div *ngIf="showRulesModal">
            <app-rules-modal (disableModalEvent)="toggleRulesModal()"></app-rules-modal>
          </div>
        </li>
        <li>
          <button class="md:hover:text-[#ff7bbf] self-center text-base text-white
            font-bold whitespace-nowrap
            dark:text-white" type="button">
            <app-login-component></app-login-component>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>