<div class="flex justify-center items-center w-screen h-screen text-slate-500 font-quicksand">
  <div class="self-center bg-transparent w-9/12 h-screen mt-10">
    <div class="bg-transparent w-auto h-auto m-4 border-slate-800 px-2 grid grid-cols-4 gap-2 text-center text-slate-700">
      <div class="font-bold">GAME NAME</div>
      <div class="font-bold">TIME</div>
      <div class="font-bold">NUMBER OF PLAYERS</div>
      <div class="font-bold">GAME STATE</div>
    </div>
      <div *ngFor="let game of games" class="bg-slate-100 w-auto h-auto m-1 p-3 border-slate-800 px-1 grid grid-cols-4 mx-4 hover:auto static group items-center">
        <div class="text-center font-bold text-slate-600">{{ game.name }}</div>
        <div class="text-center">
          <span>{{ game.startTime | date : 'yyyy-MM-dd HH:mm:ss' }}</span> - <span>{{ game.endTime | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
        </div>
        <div class="text-center text-[#785fce]">{{ game.registeredPlayers }}</div>
        <div class="text-center">{{ game.state }}</div>
        <div class="col-start-4 flex justify-end">
          <button *ngIf="(game.state=='REGISTRATION')"
            class="hidden mx-4 group-hover:block bg-[#e3f6f0] hover:scale-105
            h-fit p-2 rounded-full text-[#458f74]"
            type="button"
            (click)="toggleUpdateGameModal()">
            Update game
          </button>
          <div *ngIf="showUpdateGameModal"
            class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
            <div class="relative w-auto my-6 mx-auto max-w-6xl">
              <!--content-->
              <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                  <h3 class="text-3xl font-semibold">Update game</h3>
                </div>
                <!--body-->
                <div class="form-area">
                  <form [formGroup]="reactiveForm" (ngSubmit)="setDefault()" novalidate>
                    <div class="w-1/2 md:w-full relative p-6 flex-auto">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                        Game Name
                      </label>
                      <input type="text" id="name" name="name" formControlName="name"/>
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="startTime">
                        Start time
                      </label>
                      <input type="datetime-local" id="startTime" name="startTime" formControlName="startTime"/>
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="endTime">
                        End time
                      </label>
                      <input type="datetime-local" id="endTime" name="endTime" formControlName="endTime"/>
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="nwLat">
                        nwLat
                      </label>
                      <input type="text" id="nwLat" name="nwLat" formControlName="nwLat"/>
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="nwLng">
                        nwLng
                      </label>
                      <input type="text" id="nwLng" name="nwLng" formControlName="nwLng"/>
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="seLat">
                        seLat
                      </label>
                      <input class="border-black-400" type="text" id="seLat" name="seLat" formControlName="seLat"/>
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="seLng">
                        seLng
                      </label>
                      <input type="text" id="seLng" name="seLng" formControlName="seLng"/>
                      <div>
                        <label class="block text-red-600 text-lg font-bold mb-2 pt-4" *ngIf="!acceptedTime">
                          Invalid date</label>
                      </div>
                      <div
                        class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                        <button
                          class="text-white bg-gradient-to-r from-green-400 via-blue-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                          type="submit"
                          [disabled]="reactiveForm.invalid"
                          (click)="onUpdateGame(reactiveForm, game)">
                          Update
                        </button>
                        <button
                          class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                          type="submit"
                          [disabled]="reactiveForm.invalid"
                          (click)="toggleUpdateGameModal()">
                          Close
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-start-4 flex justify-end">
          <button *ngIf="game.state == 'REGISTRATION'" (click)="onJoinGame(game)"
            class="hidden m-2 group-hover:block bg-[#e3f6f0] hover:scale-105 h-fit w-fit p-2 rounded-full text-[#458f74]">
            Join Game
          </button>
          <button *ngIf="game.state == 'REGISTRATION'" (click)="onGameDetails(game)"
            class="hidden m-2 group-hover:block bg-[#785fce] hover:scale-105 h-fit w-fit p-2 rounded-full text-white">
            Game Details
          </button>
        </div>
        <button
          *ngIf="game.state == 'IN_PROGRESS' || game.state == 'COMPLETE'"
          (click)="onGameDetails(game)"
          class="hidden group-hover:block bg-[#785fce] hover:scale-105 h-fit w-fit p-2 rounded-full justify-self-end m-2 col-span-4 text-white">
          Game Details
        </button>
        <button
          *ngIf="role == 'hvz-admin'"
          (click)="onGameDelete(game!.id!)"
          class="hidden group-hover:block bg-[#785fce] hover:scale-105 h-fit w-fit p-2 rounded-full justify-self-end m-2 col-span-4 text-white">
          Delete game
        </button>
    </div>
  </div>
</div>
