<div id="mission modal">
    <button
      class="md:hover:text-[#ff7bbf] md:p-0"
      type="button"
      (click)="toggleAddMissionModal()"
    >
      Add Mission
    </button>
    <div
      *ngIf="showAddMissionModal"
      class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
    >
      <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
          >
            <h3 class="text-3xl font-semibold">Add Mission</h3>
          </div>
          <!--body-->
          <div class="form-area">
            <form
              #missionForm="ngForm"
              (ngSubmit)="onAddMission(missionForm.value)"
            >
              <div class="w-1/2 md:w-full relative p-6 flex-auto">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="missionTitle"
                >
                  Mission Title
                </label>
                <input
                  ngModel
                  required
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="name"
                  type="text"
                  placeholder="Mission Title"
                />
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="missionDescription"
                >
                  Description
                </label>
                <input
                  ngModel
                  required
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="description"
                  type="text"
                  placeholder="Description"
                />
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="missionStartTime"
                >
                  Start time
                </label>
                <input
                  ngModel
                  required
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="startTime"
                  type="datetime-local"
                  placeholder="start time"
                />
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="missionEndTime"
                >
                  End time
                </label>
                <input
                  ngModel
                  required
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="endTime"
                  type="datetime-local"
                  placeholder="end
                  time"
                />
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="missionPosX"
                >
                  Position x
                </label>
                <input
                  ngModel
                  required
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="lat"
                  type="text"
                  placeholder="Position X"
                />
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="missionPosY"
                >
                  Position y
                </label>
                <input
                  ngModel
                  required
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  name="lng"
                  type="text"
                  placeholder="Position Y"
                />
                <!-- CHECKBOXES -->
                <ul
                  class="mt-2 w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                >
                  <li
                    class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
                  >
                    <div class="flex items-center pl-3">
                      <input
                        ngModel
                        required
                        id="humansCheckbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                        name="humanVisible"
                        type="checkbox"
                      />
                      <label
                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        for="humansCheckbox"
                      >
                        Visible for humans
                      </label>
                    </div>
                  </li>
                  <li
                    class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
                  >
                    <div class="flex items-center pl-3">
                      <input
                        ngModel
                        required
                        id="zombiesCheckbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                        name="zombieVisible"
                        type="checkbox"
                      />
                      <label
                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        for="zombiesCheckbox"
                      >
                        Visible for zombies
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <!--footer-->
              <div
                class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
              >
                <button
                  class="text-[#785fce] hover:scale-105 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="submit"
                >
                  Create
                </button>
                <button
                  class="text-[#785fce] hover:scale-105 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                  (click)="toggleAddMissionModal()"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="showAddMissionModal"
      class="opacity-25 fixed inset-0 z-40 bg-black"
    ></div>
  </div>