<h1>Game map</h1>
<div
  *ngIf="showModal && currentMarkerData"
  class="w-1/2 h-1/3 absolute z-50 top-0 bottom-0 mt-auto mb-auto left-0 right-0 ml-auto mr-auto"
>
  <div *ngIf="currentMarkerType.toString() === 'KILL'">
    <app-kill-modal
      (disableModalEvent)="receiveDisableModal($event)"
      [kill]="currentMarkerData"
    ></app-kill-modal>
  </div>
  <div *ngIf="currentMarkerType.toString() === 'MISSION'">
    <app-mission-modal
      (disableModalEvent)="receiveDisableModal($event)"
      [mission]="currentMarkerData"
    ></app-mission-modal>
  </div>
</div>

<div id="ol-map" class="map-container"></div>
