<form
  #updateMissionForm="ngForm"
  (ngSubmit)="updateMission(updateMissionForm.value)"
  *ngIf="inEditMode"
>
  <div
    class="absolute left-0 right-0 mx-auto top-1/2 translate-y-[-50%] w-auto max-w-3xl"
  >
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold">
          Edit mission "{{ mission.name }}"
        </h3>
      </div>
      <!--body-->
      <div class="w-1/2 md:w-full relative p-6 flex-auto">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Mission Name
        </label>
        <input
          ngModel
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="name"
          type="text"
          placeholder="{{ mission.name }}"
        />

        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="description"
        >
          Description
        </label>
        <input
          ngModel
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="description"
          type="text"
          placeholder="{{ mission.description }}"
        />

        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="startTime"
        >
          Start time
        </label>
        <input
          ngModel
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="startTime"
          type="datetime-local"
          placeholder="{{ mission.startTime }}"
        />

        <label class="block text-gray-700 text-sm font-bold mb-2">
          End time
        </label>
        <input
          ngModel
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="endTime"
          type="datetime-local"
          placeholder="{{ mission.endTime }}"
        />
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Latitude
        </label>
        <input
          ngModel
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="lat"
          type="number"
          placeholder="{{ mission.lat }}"
        />
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Longitude
        </label>
        <input
          ngModel
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="lng"
          type="number"
          placeholder="{{ mission.lng }}"
        />

        <label
          class="text-gray-700 text-sm font-bold mb-2"
          for="isHumanVisible"
        >
          Human Visible
        </label>
        <input ngModel name="isHumanVisible" type="checkbox" class="mr-5" />

        <label
          class="text-gray-700 text-sm font-bold mb-2"
          for="isZombieVisible"
        >
          Zombie Visible
        </label>
        <input ngModel name="isZombieVisible" type="checkbox" />
      </div>

      <!--footer-->
      <div
        class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
      >
        <button
          class="text-[#785fce] hover:scale-105 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="submit"
        >
          Update
        </button>
        <button
          class="text-[#785fce] hover:scale-105 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="sendDisableModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</form>

<div
  *ngIf="!inEditMode"
  class="absolute left-0 right-0 mx-auto top-1/2 translate-y-[-50%] w-auto max-w-3xl"
>
  <!--content-->

  <div
    class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
  >
    <!--header-->
    <div
      class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
    >
      <h2 class="text-3xl font-semibold">"{{ mission.name }}"</h2>
      <div *ngIf="isAdmin">
        <button
          (click)="deleteMission(mission.missionID!)"
          class="float-right text-red-500 background-transparent font-bold uppercase pr-2 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        >
          Delete
        </button>
        <button
          class="float-right text-blue-500 background-transparent font-bold uppercase pr-2 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="inEditMode = true"
        >
          Edit
        </button>
      </div>
    </div>
    <!--body-->
    <div class="w-1/2 md:w-full relative p-6 flex-auto">
      <h3 class="block text-gray-700 text-sm font-bold mt-1">Description</h3>
      <p>{{ mission.description }}</p>

      <div>
        <h3 class="block text-gray-700 text-sm font-bold mt-1">Start time</h3>
        <p>{{ mission.startTime | date : "yyyy-MM-dd HH:mm:ss" }}</p>
      </div>

      <h3 class="block text-gray-700 text-sm font-bold mt-1">End time</h3>
      <p>
        {{ mission.endTime | date : "yyyy-MM-dd HH:mm:ss" }}
      </p>
    </div>

    <!--footer-->
    <div
      class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
    >
      <button
        class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
        (click)="sendDisableModal()"
      >
        Close
      </button>
    </div>
  </div>
</div>
